@import "../../scss/vars";

.tab__bench {
  .tab {
    &__actions {
      display: flex;
      width: 100%;
			gap: 30px;
			padding: 15px;
    }

    &__actions-search {
      position: relative;

      .form__input {
        padding-left: 40px;
				width: 250px;
      }
    }

    &__actions-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      width: 20px;
      height: 20px;

      path {
        fill: $blue2;
      }
    }
  }
	.dropdown {
		position: relative;
		width: 100%;
	
		&__button {
			position: relative;
			display: block;
			text-align: left;
			color: $textColor;
			background-color: $textColor2;
			border: 1px solid $gray;
			border-radius: 5px;
			width: 250px;
			height: 38px;
			padding: 5px 10px;
			transition: 0.2s;
			font-size: 16px;
			cursor: pointer;
	
			&:focus,
			&:hover {
				outline: none;
				border: 1px solid $textColor;
			}
		}
	
		&__button.error {
			border: 1px solid $red;
			box-shadow: 0px 0px 5px rgb(253, 144, 144);
		}
	
		&__arrow-closed,
		&__arrow-open {
			width: 15px;
			height: 8px;
			display: block;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
	
			&::before {
				content: "";
				position: absolute;
				top: 4px;
				left: 0px;
				width: 8px;
				height: 1px;
				background-color: $textColor;
				rotate: (30deg);
				transition: 0.2s;
			}
	
			&::after {
				content: "";
				position: absolute;
				top: 4px;
				right: 0px;
				width: 8px;
				height: 1px;
				background-color: $textColor;
				rotate: (-30deg);
				transition: 0.2s;
			}
		}
	
		&__arrow-open {
			&::before {
				rotate: (-30deg);
			}
			&::after {
				rotate: (30deg);
			}
		}
	
		&__placeholder {
			line-height: 1.6;
			opacity: 0.6;
		}
	
		&__placeholder.is-selected {
			opacity: 1;
		}
	
		&__list {
			position: absolute;
			top: 39px;
			border: 1px solid #9e9e9e;
			margin: 0;
			padding: 0;
			list-style-type: none;
			background: $background;
			box-shadow: 0px 4px 5px rgba(107, 107, 107, 0.6);
			overflow: auto;
			width: 100%;
			border-radius: 6px;
			z-index: 10;
			max-height: 212px;
			scrollbar-width: thin;
			scrollbar-color: $blue2 $background;
	
			&::-webkit-scrollbar {
				width: 8px;
			}
	
			&::-webkit-scrollbar-track {
				background: $background;
				border-radius: 20px;
				margin: 16px 0px;
			}
	
			&::-webkit-scrollbar-thumb {
				background-color: $blue2;
				border-radius: 20px;
			}
		}
	
		.Dropdown-option {
			margin: 0;
			font-size: 16px;
			padding: 0;
			border-bottom: 0px;
			padding: 13px 20px;
			
			cursor: pointer;
			&:first-child {
				border-radius: 6px 6px 0 0;
			}
			&:last-child {
				border-radius: 0 0 6px 6px;
			}
			&:hover {
				background: $blue;
			}
		}
	}
}
