$maxWidthCont: 1410px;

// colors
$textColor: #242424;
$textColor2: #ffffff;
$blueBg: #98d1ff93;
$blue: #98d1ff;
$blue2: #5bb4fd;
$gray: #9e9e9e;
$background: #ddf0ff;
$red: rgb(253, 144, 144);
$lightyellow: rgb(255, 255, 219);
$yellow: rgb(255, 240, 152);