.form {
	&__cell {
		display: flex;
		flex-direction: column;
		gap: 8px;
		position: relative;
	}

	&__cell--btns {
		flex-direction: row;
	}

	&__title {
      flex: 1 0 100%;
			font-weight: 500;
			font-size: 16px;
			align-self: center;
	}

	&__option {
		flex: 1 0 auto;
		display: flex;
		gap: 15px;
		flex-wrap: wrap;
		max-width: 100%;
	}

	&__inputs {
		display: flex;
		gap: 5px;
		align-items: flex-end;
		width: 100%;

		.tab__btn--remove {
			margin-left: 10px;
			height: 38px;
			width: 38px;
			padding: 0px 8px;
			display: inline-flex;
			align-items: center;
			justify-content: center;

			&:hover {
				background-color: $red;
			}

			svg{
				width: 15px;
				height: 17px;
			}
		}
	}

	.tab__btn--save {
		height: 38px;
		width: 100%;
		padding: 0px 8px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	&__inputs--add {
		display: flex;
		gap: 5px;
		align-items: flex-end;

		.tab__btn {
			width: 48px;
			height: 38px;
			padding: 5px 0px;
		}
	}

	&__inputs-column {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	&__input {
		border: 1px solid $gray;
		padding: 5px 10px;
		border-radius: 5px;
		width: 200px;
		height: 38px;
		font-size: 16px;
		transition: 0.2s;

		&::placeholder {
			color: $textColor;
			opacity: 0.6;
		}

		&:hover,
		&:focus {
			border: 1px solid $textColor;
		}
	}

	&__input.error {
		border: 1px solid $red;
		box-shadow: 0px 0px 5px rgb(253, 144, 144);
	}

	&__tip-btn {
		position: absolute;
		right: 2px;
		top: -2px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: $textColor;
		color: $textColor2;
		font-weight: 500;
	}

	&__tip {
		position: absolute;
		top: 0px;
		left: calc(100% + 10px);
		width: 200px;
		padding: 20px 15px 5px;
		border: 1px solid $gray;
		border-radius: 10px;
		background: $background;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		transition: 0.3s;
		box-shadow: -3px 3px 10px -5px $textColor;
	}

	&__tip.open {
		z-index: 10;
		opacity: 1;
		visibility: visible;
	}

	&__tip-row {
		margin-bottom: 8px;
	}

	&__tip-close {
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 10;
		width: 20px;
		height: 20px;
		display: flex;
		justify-content: center;
		line-height: 1.5;
		font-weight: 500;
		border-radius: 50%;
		background-color: $textColor;
		color: $textColor2;
	}
}	