@import "../../scss/vars";

.header {
  &__menu {
    margin: 15px 15px 0px;
    display: flex;

    @media (max-width: 650px) {
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 10px;
    }
  }

  &__tab {
    position: relative;
    padding: 15px;
    font-size: 18px;
    background-color: $background;
    border-radius: 10px 10px 0px 0px;
    min-width: 150px;
    display: inline-block;
    color: $textColor;
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
    border-top: 1px solid $gray;
    transition: 0.3s;

    @media (max-width: 650px) {
      border-radius: 10px;
      border: 1px solid $gray;
    }

    &:hover {
      background-color: $lightyellow;
    }
  }

  &__tab.active {
    background-color: $textColor2;
    font-weight: 500;
    border-bottom: 1px solid $textColor2;
    z-index: 10;

    @media (max-width: 650px) {
      border: 1px solid $gray;
    }
  }
}
